---
import '../styles/global.css';

const pageTitle = "Sobre mi";

const identity = {
  firstName: "Julian Zanetti",
  country: "Argentina",
  occupation: "Tech Support Senior",
  hobbies: ["Futbol", "Videojuegos", "Rosario Central"],
};

const skills = ["Linux", "AWS", "Python", "Terraform", "Docker", "Kubernetes"];
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: blue;
      }
      .skill {
        color: green;
        font-weight: bold;
      }
    </style>
  </head>
<body>
    <a href="/">Inicio</a>
    <a href="/projects/">Proyectos</a>
    <a href="/about/">{pageTitle}</a>
    
    <h1>Sobre mi</h1>
    <h2>DevOps Engineer </h2>

    <p>He aquí algunos datos sobre mí:</p>
    <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
        <li>Dos de mis grandes aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        <li>Soy hincha fanatico de {identity.hobbies[2]}</li>
    }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</body>